
@using Exchange_Art.Models

@model Wallet

@{
    ViewBag.Title = "Your Wallet";
}

<h2 class="bg-dark text-white rounded text-center">Wallet Of @Model.Username</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    User
                </th>
                <th>
                    Wallet Address
                </th>
                <th>
                    FlipCoin Balance
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Username
                </td>
                <td>
                    @Model.publicAddress
                </td>
                <td>
                    @Model.Balance
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-toolbar justify-content-between">
        <a class="btn btn-success" asp-controller="Wallet" asp-action="CreateWallet" asp-route-id="@Model.Id">Create Wallet</a>
        <a class="btn btn-danger" asp-controller="Wallet" asp-action="DeleteWallet" asp-route-id="@Model.Id">Delete Wallet</a>
        <a class="btn btn-primary" asp-controller="Wallet" asp-action="Deposit" asp-route-id="@Model.Id">Deposit</a>
        <a class="btn btn-primary" asp-controller="Wallet" asp-action="Withdraw" asp-route-id="@Model.Id">Withdraw</a>
    </div>
</div>