@model Exchange_Art.Models.Art

<h2 class="bg-dark text-light rounded">Details</h2>

<div class="media">
    @{
        var base64 = Convert.ToBase64String(Model.ImageData);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <img class="align-self-start mr-3 img-fluid rounded" src="@imgSrc" alt="item.ImageTitle">
</div>
<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Art Title</th>
                <th>Art Description</th>
                <th>Owner</th>
                <th>Lease Price Per Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ImageTitle</td>
                <td>
                    <div class="media-body">
                        <p class="mt-0">@Model.ImageDescription</p>
                    </div>
                </td>
                <td>@Model.OwnerName</td>
                <td>@Model.LeasePrice Ether</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-link" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>

