@model Exchange_Art.Models.Art

<h1 class="bg-dark text-light rounded">Lease Art piece</h1>

<!--Single Art Image Table-->
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Art Image
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Lease Price
                </th>
                <th>
                    Availability
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(Model.ImageData);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <div class="media">
                        <img class="align-self-start mr-3 img-fluid rounded" src="@imgSrc" alt="item.ImageTitle" width="160" height="120">
                    </div>
                </td>
                <td>
                    @Model.OwnerName
                </td>
                <td>
                    @Model.LeasePrice
                </td>
                @{
                    if (Model.Leased == false)
                    {
                        string Leased = "Available";
                        <td>@Leased</td>
                    }
                    else
                    {
                        string Leased = "Not available";
                        <td>@Leased</td>
                    }
                }
            <td>
                <a class="btn btn-primary" asp-action="Lease" asp-route-id="@Model.Id">Request Lease</a>
            </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

