@using Microsoft.AspNetCore.Identity
@model IEnumerable<Exchange_Art.Models.ArtLease>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Outstanding leases";
}

<h1 class="bg-dark text-white rounded text-center">Lease Overview</h1>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Lease Id
                </th>
                <th>
                    Art Image
                </th>
                <th>
                    Description
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Leaser
                </th>
                <th>
                    Expires
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(item.ArtPieceImageData);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <div class="media">
                            <img class="align-self-start mr-3 img-fluid rounded" src="@imgSrc" alt="@item.ArtId" width="160" height="120">
                        </div>
                    </td>
                    <td>
                        @item.ArtDescription
                    </td>
                    <td>
                        @item.OwnerName
                    </td>
                    <td>
                        @item.LeaserName
                    </td>
                    <td>
                        @item.DateLeaseEnds
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="DeleteLease" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>