@using Exchange_Art.Models
@model ArtOwners

<h1 class="bg-dark text-white rounded text-center">Update User @Model.ArtOwner.UserName</h1>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="@Model.ArtOwner.Id"></label>
        <input asp-for="@Model.ArtOwner.Id" class="form-control" disabled />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ArtOwner.Email"></label>
        <input asp-for="@Model.ArtOwner.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

<br />
<br />
<h2 class="bg-dark text-white rounded text-center">Art Owned By You</h2>
<br />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Art Image
                </th>
                <th>
                    Lease Price
                </th>
                <th>
                    Availability
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Art art in Model.ArtPieces)
            {
                <tr>
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(art.ImageData);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <div class="media">
                            <img class="align-self-start mr-3 img-fluid rounded" src="@imgSrc" alt="item.ImageTitle" width="160" height="120">
                            <div class="media-body">
                                <h6 class="mt-0">@art.ImageTitle</h6>
                                <p class="mt-0">@art.ImageDescription</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p class="mt-0">@art.LeasePrice </p>
                        </div>
                    </td>
                    @{
                        if (art.Leased == false)
                        {
                            string Leased = "Available";
                            <td>@Leased</td>
                        }
                        else
                        {
                            string Leased = "Not available";
                            <td>@Leased</td>
                        }
                    }
                    <td>
                        <a class="btn btn-link" asp-controller="Art" asp-action="Details" asp-route-id="@art.Id">Details</a> |
                        <a class="btn btn-link" asp-controller="Art" asp-action="Delete" asp-route-id="@art.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>